@{
    ViewBag.Title = "ThemeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
<style>
    .field-validation-error {
        margin-top: 4px;
        padding: 0;
    }

        .field-validation-error span {
            padding: 0;
            list-style: none;
            color: #cc0000;
        }

    .input-validation-error {
        border-color: #c00 !important;
    }
</style>

<div class="pageheader">
    <h2><i class="fa fa-home"></i> Input Fields <span>Subtitle goes here...</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="#">Bracket</a></li>
            <li class="active">Input Fields</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a class="panel-close" href="">×</a>
                        <a class="minimize" href="">−</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">Theme List</h3>
                </div>

                <div id="divResponse" class="alert alert-dismissable hidden">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span></span>
                </div>

                <div class="panel-body table-responsive">
                    <table id="bsTable" data-toggle="table"
                           data-toolbar="#toolbar"
                           class="table table-hover table-striped"
                           data-search="true"
                           data-show-toggle="true"
                           data-show-pagination-switch="true"
                           data-pagination="true"
                           data-page-size="10"
                           data-page-list="[25, 50, 100, All]"
                           data-side-pagination="server"
                           data-smart-display="true"
                           data-search-time-out="800"
                           data-show-columns="true"
                           data-method="post"
                           data-url="@Url.Action("GetThemes", "Theme")"
                           data-content-type="application/json"
                           data-data-type="json"
                           data-response-handler="responseHandler"
                           data-id-field="ThemeId"
                           data-show-export="true">
                        <thead>
                            <tr>
                                <th data-field="Title" data-sortable="true">Title</th>
                                <th data-field="CategoryName" data-sortable="true">Category</th>
                                <th data-field="SubCategoryName" data-sortable="true">SubCategory</th>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Action(s)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function responseHandler(res) {
        //$.each(res.rows, function (i, row) {
        //    row.state = $.inArray(row.id, selections) !== -1;
        //});
        return res;
    }
    function operateFormatter(value, row, index) {
        //alert(JSON.stringify(row));
       // console.log(JSON.stringify(row));

        return [
            '<a class="like btn btn-primary btn-xs" href="Theme?id=' + row.ThemeId + '" title="Edit">',
            '<i class="fa fa-pencil"></i>',
            '</a>  ',
            '  <a class="remove  btn btn-danger btn-xs" href="javascript:void(0)"  title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            $('#txtCategoryName').val(row.CategoryName);
            $('#CategoryId').val(row.CategoryId);
            //alert('You click like action, row: ' + JSON.stringify(row));
        },
        'click .remove': function (e, value, row, index) {
            var cc = confirm("Are you sure you want to delete?");
            if (cc) {

                $.post('@Url.Action("DeleteThemeByID", "Theme")', { ThemeId: row.ThemeId }, function (res) {
                    if (res == 1) {
                        $('#bsTable').bootstrapTable('refresh');
                        callMsg('alert-success', 'Theme has been deleted');
                    }
                }, 'json');
            }
        }
    };
    function callMsg(classname, msg) {
        $('#divResponse').toggleClass('hidden');
        $('#divResponse').addClass(classname);
        $('#divResponse span').html(msg);

        setTimeout(function () {
            $('#divResponse').toggleClass('hidden');
        }, 4000);
    }
</script>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/BootstrapTable");
@Styles.Render("~/Content/BootstarpTableCSS");