@model Front.Models.Header
@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .subnav__boxcon {
        display: none;
    }

    .subnav {
        height: 56px;
    }
</style>


<script src="~/Scripts/common.js"></script>
<script type="text/javascript">
    var SubPath = '@Url.Action("GETSubCategoriesMenu", "Home")';
    var ThemePath = '@Url.Action("GetThemeLatest", "Home")';
</script>

<div class="mainnav">
    <div class="container">
        <ul class="mainnav-row">
            @foreach (var item in Model.MainCategories)
            {
                <li class="mainnav__list">


                    <a class="@(item.CurrentIndex==1?"mainnav__link active":"mainnav__link")" data-id="@item.CategoryId" trgt="#@item.CategoryName" href="javascript:void(0)">
                        <i class="mainnav__icon df @item.CSSClass"></i>
                        <span class="mainnav__text">@item.CategoryName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="subnav">
    <div class="container" id="subnav">


    </div>
</div>

<section class="bannerbox">

    <div class="bannerbox__textarea">
        <div class="bannerbox__heading">Find Template,  Video, Music, Plugin and Jobs etc...</div>
        <div class="bannerbox__subheading">these collection developed by creative programmers,  which is perfect for your business</div>
        <div class="bannerbox__search">
            <input type="text" placeholder="Search theme, template, videos,  music and Jobs" class="bannerbox__search--textfield">
            <a href="javascriipt:void(0)" class="bannerbox__search--button"><i class="df df-search2"></i></a>
        </div>
    </div>
</section>

<div class="detailscon container">
    <div class="solutiondetail">
        <div class="solution__left">
            <div class="mainheading">Latest Themes</div>
            <div class="conatinerBox" id="ThemeLatest">


            </div>
            <div class="buttongroup">
                <a class="button-default">View All</a>
            </div>
            <div class="mainheading">Trending Themes</div>
            <div class="conatinerBox" id="ThemeTrending">


            </div>
            <div class="buttongroup">
                <a class="button-default">View All</a>
            </div>
            <div class="mainheading">Related Themes</div>
            <div class="conatinerBox">
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t1.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">
                                Material Dashboard <span class="themetype new">
                                    <i class="df df-joined"></i> New
                                </span>
                            </span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t2.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t3.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t4.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t5.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t6.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t7.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t8.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
                <div class="containerItem">
                    <div class="itemthumb"><img src="assets/img/t9.jpg"></div>
                    <div class="itemdetail">
                        <a href="javascript:void(0)" class="thumblink">
                            <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                            <span class="thumblink__text">Free Bootstrap Material Admin</span>
                        </a>
                        <a href="javascript:void(0)" class="costtheme">Free</a>
                    </div>

                </div>
            </div>
            <div class="buttongroup">
                <a class="button-default">View All</a>
            </div>

        </div>
        <div class="solution__right">
            <div class="addbox">
                <img src="assets/img/add.png">
            </div>
            <div class="categorydiv">
                <div class="favtag__title">Categories:</div>
                <div class="catbox">
                    <a href="javascript:void(0)" class="catitem">Accordion <span>(100)</span></a>
                    <a href="javascript:void(0)" class="catitem">Chart &amp; Graph <span>(126)</span></a>
                    <a href="javascript:void(0)" class="catitem">Gallery <span>(132)</span></a>
                    <a href="javascript:void(0)" class="catitem">Animation <span>(100)</span></a>
                    <a href="javascript:void(0)" class="catitem">Layout <span>(250)</span></a>
                    <a href="javascript:void(0)" class="catitem">LightBox <span>(254)</span></a>
                    <a href="javascript:void(0)" class="catitem">Loading <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Menu &amp; Nav <span>(142)</span></a>
                    <a href="javascript:void(0)" class="catitem">Mobile <span>(321)</span></a>
                    <a href="javascript:void(0)" class="catitem">Slider <span>(145)</span></a>
                    <a href="javascript:void(0)" class="catitem">Slideshow <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Social Media <span>(124)</span></a>
                    <a href="javascript:void(0)" class="catitem">Table <span>(324)</span></a>
                    <a href="javascript:void(0)" class="catitem">Text <span>(145)</span></a>
                    <a href="javascript:void(0)" class="catitem">Time &amp; Clock <span>(245)</span></a>
                    <a href="javascript:void(0)" class="catitem">Tooltip <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Zoom<span>(124)</span></a>
                </div>
            </div>
            <div class="favtag">
                <div class="favtag__title">You Might Like </div>
                <div class="favtag__box">
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                </div>
            </div>

            <div class="hotnetwork">
                <div class="favtag__title">Most Popular This Month:</div>
                <div class="hotnetwork__box">
                    <a href="javascript:void(0)" class="hotnetwork__link">Is throwing a ball improvised?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> How do I address poor performance that is exacerbated by religious practices?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Should I include a job I've been fired from on my CV?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Is everyday probability just a way of dealing with the unknown (not talking quantum physics here)?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">How important is learning Binary for first-year college students?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Slang from Fresh Prince from Bel-Air S01E03: Vacuumed, Cheese Dog, Harley, Fly for Me</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Would it be unethical to not cite a figure obtained from a Q&amp;A forum?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Why do we have CPUs with all the cores at the same speeds and not combinations of different speeds?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">How do we ensure users read instructions?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Why is "You’ve brought a knife to a gun fight" considered to be a mixed metaphor?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> What to say instead of "calm down" if you see the other person getting angry during the discussion?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> How to plot output data of Do-command?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">N-dimensional identity "matrix"</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">What's the verb to describe a good guy becoming a bad guy?</a>

                </div>
            </div>
            <div class="mostpopulatplugin">
                <a class="button-default">Most Popular Plugin</a>
            </div>


        </div>
    </div>
</div>