@model DeveloperForest.Model.ThemeModel
@{
    ViewBag.Title = "ThemeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/common.js"></script>
<script type="text/javascript">
    var SubPath = '@Url.Action("GETSubCategoriesMenu", "Home")';
    var ThemePath = '@Url.Action("GetThemeLatest", "Home")';
    var ThemeRelated = '@Url.Action("GetThemeRelated", "Home")';
</script>

<section class="bannerbox">

    <div class="bannerbox__textarea">
        <div class="bannerbox__heading">Find Template,  Video, Music, Plugin and Jobs etc...</div>
        <div class="bannerbox__subheading">these collection developed by creative programmers,  which is perfect for your business</div>
        <div class="bannerbox__search">
            <input type="text" placeholder="Search theme, template, videos,  music and Jobs" class="bannerbox__search--textfield">
            <a href="javascriipt:void(0)" class="bannerbox__search--button"><i class="df df-search2"></i></a>
        </div>
    </div>
</section>

<div class="detailscon container">
    <div class="solutiondetail">
        <div class="solution__left">
            <div class="mainheading">@Model.Title</div>
            <div class="detailbox">
                <div class="detailItem">
                    <div class="detailItems">
                        <div class="sharebutton">
                            <div class="card--signup__social">
                                <a href="javascript:void(0)" class="card--signup__social--item fb"><i class="df  df-FB"></i></a>
                                <a href="javascript:void(0)" class="card--signup__social--item tw bigicon"><i class="df   df-twitter3"></i></a>
                                <a href="javascript:void(0)" class="card--signup__social--item gplus"><i class="df df-GooglePlus"></i></a>
                            </div>
                        </div>
                        <div class="detailImage">
                            <img src="@Model.BaseURL/Upload/Thumbnail/@Model.ImageName">
                            @*<img src="http://localhost:50609/Upload/Thumbnail/083298ca-0bba-483d-a7b1-f2e6a301bebb.jpg">*@
                        </div>
                    </div>
                    <div class="downloadlinks">
                        <div class="downloadbtn">
                            <a href="@Model.DemoLink" class="button-default">Demo</a>
                            <a href="@Model.DemoLink" class="button-default">Download</a>
                        </div>
                        <div class="addleft"><img src="http://localhost:50609/Upload/Thumbnail/083298ca-0bba-483d-a7b1-f2e6a301bebb.jpg "></div>
                    </div>
                    <div class="fileType">
                        <p><span>File Size:</span>  32.6 KB</p>
                        <p><span>Views Total:</span>    511</p>
                        <p><span>Last Update:</span>    9 days ago</p>
                        <p><span>Publish Date:</span>   2 months ago</p>
                        <p><span>Official Website:</span>   Go to website</p>
                        <p><span>License:</span>    MIT</p>
                    </div>
                </div>

                <div class="themedesc">
                    @Model.Description
                </div>
                <div class="banneradd"><img src="assets/img/a7.png"></div>
                <div class="mainheading">Related Themes</div>
                <div class="conatinerBox" id="ThemeRelated">

                </div>

            </div>


        </div>
        <div class="solution__right">
            <div class="addbox">
                <img src="assets/img/add.png">
            </div>
            <div class="categorydiv">
                <div class="favtag__title">Categories:</div>
                <div class="catbox">
                    <a href="javascript:void(0)" class="catitem">Accordion <span>(100)</span></a>
                    <a href="javascript:void(0)" class="catitem">Chart &amp; Graph <span>(126)</span></a>
                    <a href="javascript:void(0)" class="catitem">Gallery <span>(132)</span></a>
                    <a href="javascript:void(0)" class="catitem">Animation <span>(100)</span></a>
                    <a href="javascript:void(0)" class="catitem">Layout <span>(250)</span></a>
                    <a href="javascript:void(0)" class="catitem">LightBox <span>(254)</span></a>
                    <a href="javascript:void(0)" class="catitem">Loading <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Menu &amp; Nav <span>(142)</span></a>
                    <a href="javascript:void(0)" class="catitem">Mobile <span>(321)</span></a>
                    <a href="javascript:void(0)" class="catitem">Slider <span>(145)</span></a>
                    <a href="javascript:void(0)" class="catitem">Slideshow <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Social Media <span>(124)</span></a>
                    <a href="javascript:void(0)" class="catitem">Table <span>(324)</span></a>
                    <a href="javascript:void(0)" class="catitem">Text <span>(145)</span></a>
                    <a href="javascript:void(0)" class="catitem">Time &amp; Clock <span>(245)</span></a>
                    <a href="javascript:void(0)" class="catitem">Tooltip <span>(325)</span></a>
                    <a href="javascript:void(0)" class="catitem">Zoom<span>(124)</span></a>
                </div>
            </div>
            <div class="favtag">
                <div class="favtag__title">You Might Like </div>
                <div class="favtag__box">
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                    <a href="javascript:void(0)" class="tag__item">javsscript</a>
                    <a href="javascript:void(0)" class="tag__item">jquery</a>
                    <a href="javascript:void(0)" class="tag__item">css</a>
                    <a href="javascript:void(0)" class="tag__item">html</a>
                    <a href="javascript:void(0)" class="tag__item">xml</a>
                    <a href="javascript:void(0)" class="tag__item">php</a>
                    <a href="javascript:void(0)" class="tag__item">.net</a>
                    <a href="javascript:void(0)" class="tag__item">react js</a>
                </div>
            </div>

            <div class="hotnetwork">
                <div class="favtag__title">Most Popular This Month:</div>
                <div class="hotnetwork__box">
                    <a href="javascript:void(0)" class="hotnetwork__link">Is throwing a ball improvised?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> How do I address poor performance that is exacerbated by religious practices?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Should I include a job I've been fired from on my CV?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Is everyday probability just a way of dealing with the unknown (not talking quantum physics here)?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">How important is learning Binary for first-year college students?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Slang from Fresh Prince from Bel-Air S01E03: Vacuumed, Cheese Dog, Harley, Fly for Me</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Would it be unethical to not cite a figure obtained from a Q&amp;A forum?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Why do we have CPUs with all the cores at the same speeds and not combinations of different speeds?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">How do we ensure users read instructions?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">Why is "You’ve brought a knife to a gun fight" considered to be a mixed metaphor?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> What to say instead of "calm down" if you see the other person getting angry during the discussion?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link"> How to plot output data of Do-command?</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">N-dimensional identity "matrix"</a>
                    <a href="javascript:void(0)" class="hotnetwork__link">What's the verb to describe a good guy becoming a bad guy?</a>

                </div>
            </div>
            <div class="mostpopulatplugin">
                <a class="button-default">Most Popular Plugin</a>
            </div>


        </div>
    </div>
</div>